<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
from __future__ import print_function, division

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
import datetime

In [4]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []

    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [190907, 190914, 190921]
turnstiles_df = get_data(week_nums)

In [5]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,00:00:00,REGULAR,7183242,2433142
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,04:00:00,REGULAR,7183258,2433149
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,08:00:00,REGULAR,7183278,2433176
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,12:00:00,REGULAR,7183393,2433262
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,16:00:00,REGULAR,7183572,2433312

In [6]:
# TODO: We're not going to use this
mta_stations_csv_path = '../data/mta_stations.csv'

mta_stations = pd.read_csv(mta_stations_csv_path)

mta_stations.rename(columns={'GTFS Stop ID': 'UNIT', 'Division': 'DIVISION'}, inplace=True)

mta_stations

,Station ID,Complex ID,UNIT,DIVISION,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan
5,6,6,R08,BMT,Astoria,39 Av,Q,N W,Elevated,40.752882,-73.932755,Astoria - Ditmars Blvd,Manhattan
6,7,613,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258,Queens,Downtown & Brooklyn
7,8,8,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347,Queens,Downtown & Brooklyn
8,9,9,R14,BMT,Broadway - Brighton,57 St - 7 Av,M,N Q R W,Subway,40.764664,-73.980658,Uptown & Queens,Downtown & Brooklyn
9,10,10,R15,BMT,Broadway - Brighton,49 St,M,N R W,Subway,40.759901,-73.984139,Uptown & Queens,Downtown & Brooklyn
10,11,611,R16,BMT,Broadway - Brighton,Times Sq - 42 St,M,N Q R W,Subway,40.754672,-73.986754,Uptown & Queens,Downtown & Brooklyn
11,12,607,R17,BMT,Broadway - Brighton,34 St - Herald Sq,M,N Q R W,Subway,40.749567,-73.987950,Uptown & Queens,Downtown & Brooklyn
12,13,13,R18,BMT,Broadway - Brighton,28 St,M,R W,Subway,40.745494,-73.988691,Uptown & Queens,Downtown & Brooklyn
13,14,14,R19,BMT,Broadway - Brighton,23 St,M,R W,Subway,40.741303,-73.989344,Uptown & Queens,Downtown & Brooklyn
14,15,602,R20,BMT,Broadway - Brighton,14 St - Union Sq,M,N Q R W,Subway,40.735736,-73.990568,Uptown & Queens,Downtown & Brooklyn
15,16,16,R21,BMT,Broadway - Brighton,8 St - NYU,M,R W,Subway,40.730328,-73.992629,Uptown & Queens,Downtown & Brooklyn
16,17,17,R22,BMT,Broadway - Brighton,Prince St,M,R W,Subway,40.724329,-73.997702,Uptown & Queens,Downtown & Brooklyn
17,18,623,R23,BMT,Broadway,Canal St,M,R W,Subway,40.719527,-74.001775,Uptown & Queens,Downtown & Brooklyn
18,19,623,Q01,BMT,Manhattan Bridge,Canal St,M,N Q,Subway,40.718383,-74.000460,Uptown & Queens,Downtown & Brooklyn
19,20,20,R24,BMT,Broadway,City Hall,M,R W,Subway,40.713282,-74.006978,Uptown & Queens,Downtown & Brooklyn
20,21,624,R25,BMT,Broadway,Cortlandt St,M,R W,Subway,40.710668,-74.011029,Uptown & Queens,Downtown & Brooklyn
21,22,22,R26,BMT,Broadway,Rector St,M,R W,Subway,40.707220,-74.013342,Uptown & Queens,Downtown & Brooklyn
22,23,635,R27,BMT,Broadway,Whitehall St,M,R W,Subway,40.703087,-74.012994,Uptown & Queens,Brooklyn
23,24,620,R28,BMT,Broadway,Court St,Bk,R,Subway,40.694100,-73.991777,Manhattan,Bay Ridge - 95 St
24,25,636,R29,BMT,Broadway,Jay St - MetroTech,Bk,R,Subway,40.692180,-73.985942,Manhattan,Bay Ridge - 95 St
25,26,26,R30,BMT,Broadway - Brighton,DeKalb Av,Bk,B Q R,Subway,40.690635,-73.981824,Manhattan,Coney Island - Bay Ridge
26,27,617,R31,BMT,4th Av,Atlantic Av - Barclays Ctr,Bk,D N R,Subway,40.683666,-73.978810,Manhattan,Coney Island - Bay Ridge
27,28,28,R32,BMT,4th Av,Union St,Bk,R,Subway,40.677316,-73.983110,Manhattan,Bay Ridge - 95 St
28,29,608,R33,BMT,4th Av,9 St,Bk,R,Subway,40.670847,-73.988302,Manhattan,Bay Ridge - 95 St
29,30,30,R34,BMT,4th Av,Prospect Av,Bk,R,Subway,40.665414,-73.992872,Manhattan,Bay Ridge - 95 St
...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,465,610,723,IRT,Flushing,Grand Central - 42 St,M,7,Subway,40.751431,-73.976041,Queens,34 St - Hudson Yards
467,466,609,724,IRT,Flushing,5 Av,M,7,Subway,40.753821,-73.981963,Queens,34 St - Hudson Yards
468,467,611,725,IRT,Flushing,Times Sq - 42 St,M,7,Subway,40.755477,-73.987691,Queens,34 St - Hudson Yards
469,468,611,902,IRT,Lexington - Shuttle,Times Sq - 42 St,M,S,Subway,40.755983,-73.986229,NaN,Grand Central
470,469,610,901,IRT,Lexington - Shuttle,Grand Central - 42 St,M,S,Subway,40.752769,-73.979189,Times Sq,NaN
471,471,471,726,IRT,Flushing,34 St - 11 Av,M,7,Subway,40.755882,-74.001910,Queens,NaN
472,475,475,Q05,IND,Second Av,96 St,M,Q,Subway,40.784318,-73.947152,NaN,Downtown & Brooklyn
473,476,476,Q04,IND,Second Av,86 St,M,Q,Subway,40.777891,-73.951787,Uptown,Downtown & Brooklyn
474,477,477,Q03,IND,Second Av,72 St,M,Q,Subway,40.768799,-73.958424,Uptown,Downtown & Brooklyn
475,501,501,S31,SIR,Staten Island,St George,SI,SIR,Open Cut,40.643748,-74.073643,NaN,Tottenville
476,502,502,S30,SIR,Staten Island,Tompkinsville,SI,SIR,At Grade,40.636949,-74.074835,St George,Tottenville
477,503,503,S29,SIR,Staten Island,Stapleton,SI,SIR,Elevated,40.627915,-74.075162,St George,Tottenville
478,504,504,S28,SIR,Staten Island,Clifton,SI,SIR,Elevated,40.621319,-74.071402,St George,Tottenville
479,505,505,S27,SIR,Staten Island,Grasmere,SI,SIR,Open Cut,40.603117,-74.084087,St George,Tottenville
480,506,506,S26,SIR,Staten Island,Old Town,SI,SIR,Embankment,40.596612,-74.087368,St George,Tottenville
481,507,507,S25,SIR,Staten Island,Dongan Hills,SI,SIR,Embankment,40.588849,-74.096090,St George,Tottenville
482,508,508,S24,SIR,Staten Island,Jefferson Av,SI,SIR,Embankment,40.583591,-74.103338,St George,Tottenville
483,509,509,S23,SIR,Staten Island,Grant City,SI,SIR,Open Cut,40.578965,-74.109704,St George,Tottenville
484,510,510,S22,SIR,Staten Island,New Dorp,SI,SIR,Open Cut,40.573480,-74.117210,St George,Tottenville
485,511,511,S21,SIR,Staten Island,Oakwood Heights,SI,SIR,Open Cut,40.565110,-74.126320,St George,Tottenville
486,512,512,S20,SIR,Staten Island,Bay Terrace,SI,SIR,Embankment,40.556400,-74.136907,St George,Tottenville
487,513,513,S19,SIR,Staten Island,Great Kills,SI,SIR,Open Cut,40.551231,-74.151399,St George,Tottenville
488,514,514,S18,SIR,Staten Island,Eltingville,SI,SIR,Embankment,40.544601,-74.164570,St George,Tottenville
489,515,515,S17,SIR,Staten Island,Annadale,SI,SIR,Open Cut,40.540460,-74.178217,St George,Tottenville
490,516,516,S16,SIR,Staten Island,Huguenot,SI,SIR,Open Cut,40.533674,-74.191794,St George,Tottenville
491,517,517,S15,SIR,Staten Island,Prince's Bay,SI,SIR,Open Cut,40.525507,-74.200064,St George,Tottenville
492,518,518,S14,SIR,Staten Island,Pleasant Plains,SI,SIR,Embankment,40.522410,-74.217847,St George,Tottenville
493,519,519,S13,SIR,Staten Island,Richmond Valley,SI,SIR,Open Cut,40.519631,-74.229141,St George,Tottenville
494,522,522,S09,SIR,Staten Island,Tottenville,SI,SIR,At Grade,40.512764,-74.251961,St George,NaN
495,523,523,S11,SIR,Staten Island,Arthur Kill,SI,SIR,At Grade,40.516578,-74.242096,St George,Tottenville

In [7]:
# TODO: We're also not going to use this
turnstiles_df_with_borough = \
    pd.merge(turnstiles_df, mta_stations[[ 'UNIT', 'Borough' ]], on='UNIT', how='left')

turnstiles_df_with_borough.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Borough
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,00:00:00,REGULAR,7183242,2433142,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,04:00:00,REGULAR,7183258,2433149,NaN
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,08:00:00,REGULAR,7183278,2433176,NaN
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,12:00:00,REGULAR,7183393,2433262,NaN
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,16:00:00,REGULAR,7183572,2433312,NaN

In [8]:
# Remove any leading and trailing spaces from all column names (The `EXITS` column name contained a large number
# of trailing spaces)
#
# Based on a solution I found here...
# https://stackoverflow.com/questions/41476150/removing-space-from-dataframe-columns-in-pandas
turnstiles_df.columns = turnstiles_df.columns.str.strip()

print('\nColumn names: {}'.format(turnstiles_df.columns))

Column names: Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [9]:
import datetime as dt

# Add the extra columns that we need
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")
# Add a DAY_OF_WEEK column
turnstiles_df['DAY_OF_WEEK'] = (turnstiles_df['DATE_TIME']
                                   .dt.dayofweek.map({0: "Monday", 
                                       1: "Tuesday", 
                                       2: "Wednesday", 
                                       3: "Thursday", 
                                       4: "Friday", 
                                       5: "Saturday", 
                                       6: "Sunday"}))

# Time
time = turnstiles_df['TIME']

turnstiles_df['HOUR'] = pd.to_datetime(time).dt.hour
turnstiles_df['MINUTE'] = pd.to_datetime(time).dt.minute

turnstiles_df['ENTRIES_PER_HOUR'] = (turnstiles_df['ENTRIES'] / 4).astype(int)
turnstiles_df['EXITS_PER_HOUR'] = (turnstiles_df['EXITS'] / 4).astype(int)

turnstiles_df.head(20)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,DAY_OF_WEEK,HOUR,MINUTE,ENTRIES_PER_HOUR,EXITS_PER_HOUR
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,00:00:00,REGULAR,7183242,2433142,2019-08-31 00:00:00,Saturday,0,0,1795810,608285
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,04:00:00,REGULAR,7183258,2433149,2019-08-31 04:00:00,Saturday,4,0,1795814,608287
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,08:00:00,REGULAR,7183278,2433176,2019-08-31 08:00:00,Saturday,8,0,1795819,608294
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,12:00:00,REGULAR,7183393,2433262,2019-08-31 12:00:00,Saturday,12,0,1795848,608315
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,16:00:00,REGULAR,7183572,2433312,2019-08-31 16:00:00,Saturday,16,0,1795893,608328
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,20:00:00,REGULAR,7183842,2433348,2019-08-31 20:00:00,Saturday,20,0,1795960,608337
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/01/2019,00:00:00,REGULAR,7184008,2433376,2019-09-01 00:00:00,Sunday,0,0,1796002,608344
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/01/2019,04:00:00,REGULAR,7184025,2433380,2019-09-01 04:00:00,Sunday,4,0,1796006,608345
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/01/2019,08:00:00,REGULAR,7184042,2433397,2019-09-01 08:00:00,Sunday,8,0,1796010,608349
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/01/2019,12:00:00,REGULAR,7184137,2433450,2019-09-01 12:00:00,Sunday,12,0,1796034,608362
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/01/2019,16:00:00,REGULAR,7184345,2433487,2019-09-01 16:00:00,Sunday,16,0,1796086,608371
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/01/2019,20:00:00,REGULAR,7184559,2433525,2019-09-01 20:00:00,Sunday,20,0,1796139,608381
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/02/2019,00:00:00,REGULAR,7184660,2433537,2019-09-02 00:00:00,Monday,0,0,1796165,608384
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/02/2019,04:00:00,REGULAR,7184669,2433541,2019-09-02 04:00:00,Monday,4,0,1796167,608385
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/02/2019,08:00:00,REGULAR,7184683,2433570,2019-09-02 08:00:00,Monday,8,0,1796170,608392
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/02/2019,12:00:00,REGULAR,7184752,2433623,2019-09-02 12:00:00,Monday,12,0,1796188,608405
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/02/2019,16:00:00,REGULAR,7184939,2433673,2019-09-02 16:00:00,Monday,16,0,1796234,608418
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/02/2019,20:00:00,REGULAR,7185132,2433702,2019-09-02 20:00:00,Monday,20,0,1796283,608425
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/03/2019,00:00:00,REGULAR,7185234,2433718,2019-09-03 00:00:00,Tuesday,0,0,1796308,608429
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/03/2019,04:00:00,REGULAR,7185240,2433721,2019-09-03 04:00:00,Tuesday,4,0,1796310,608430

In [20]:
turnstiles_df.LINENAME.unique()

array(['R', '1', '5', '25', '3', '34', '2345S', '23', 'BDNQR2345',
       '2345BDNQR', '2345', '2345R', '7', '7EFMR', 'NQW', '7NQW', '7BDFM',
       '6', '2', '4', '4BD', '245', '45', '456', '456NQRW', '4567S',
       '456LNQRW', '6DF', '456JZ', '2345ACJZ', '123', '1ABCD',
       '1237ACENQRSW', '1237ACENQRS', '123ACE', '123FLM', '23ACE', '1RW',
       'Q', 'EJZ', 'E', 'F', 'FG', 'DFGMNR', 'FJMZ', 'BD', 'BDFQ6',
       'FLM123', 'FM', 'BDFMNQRW', 'BDFM7', 'BDFM', 'G', 'GL', 'EMG',
       'EF', 'EFMR', 'MR', 'EFMR7', 'EMR', 'EM6', 'EM', 'BDE', 'D', 'BD4',
       'A', 'AS', 'AC', 'C', 'ACJLZ', 'ACS', 'ACG', 'ACF', 'ACJZ2345',
       'ACE23', 'ACE', 'CE', 'ABCDEFM', 'ACEL', 'ACENQRS1237W',
       'ACENGRS1237W', 'ABCD1', 'BC', 'ACBD', 'ABCD', 'AC1', 'M', 'JZ',
       'J', 'JMZ', 'JM', 'L', 'LM', 'LG', 'FQ', 'DFNQ', 'N', 'ND', 'NRW',
       'DNR', 'BDNQR', 'R2345', 'BQ', 'BQS', 'S2345', 'S', 'JZ456',
       'JNQRZ6W', 'R1W', 'RNW', 'LNQR456W', 'NQRW', 'NQR456W'],
      dtype=object)

In [21]:
turnstiles_df.STATION.unique()

array(['RIT-ROOSEVELT', 'RIT-MANHATTAN', 'TOMPKINSVILLE', 'ST. GEORGE',
       'EASTCHSTER/DYRE', 'BAYCHESTER AV', 'GUN HILL RD', 'PELHAM PKWY',
       'MORRIS PARK', 'FLATBUSH AV-B.C', 'NEWKIRK AV', 'BEVERLY RD',
       'CHURCH AV', 'WINTHROP ST', 'STERLING ST', 'PRESIDENT ST',
       'NEW LOTS AV', 'VAN SICLEN AV', 'PENNSYLVANIA AV', 'JUNIUS ST',
       'ROCKAWAY AV', 'SARATOGA AV', 'SUTTER AV-RUTLD', 'CROWN HTS-UTICA',
       'KINGSTON AV', 'NOSTRAND AV', 'FRANKLIN AV', 'EASTN PKWY-MUSM',
       'GRAND ARMY PLAZ', 'BERGEN ST', 'ATL AV-BARCLAY', 'NEVINS ST',
       'HOYT ST', 'BOROUGH HALL', 'CLARK ST', '34 ST-HUDSON YD',
       'FLUSHING-MAIN', 'METS-WILLETS PT', '111 ST', '103 ST-CORONA',
       'JUNCTION BLVD', '90 ST-ELMHURST', '82 ST-JACKSON H',
       '74 ST-BROADWAY', '69 ST', '61 ST WOODSIDE', '52 ST',
       '46 ST BLISS ST', '40 ST LOWERY ST', '33 ST-RAWSON ST',
       'ASTORIA DITMARS', '30 AV', 'BROADWAY', '36 AV', '39 AV',
       'QUEENSBORO PLZ', 'COURT SQ', 'HUNTERS PT AV', 'VERNON-JACKSON',
       '5 AVE', 'PELHAM BAY PARK', 'BUHRE AV', 'MIDDLETOWN RD',
       'WESTCHESTER SQ', 'ZEREGA AV', 'CASTLE HILL AV', 'PARKCHESTER',
       'ST LAWRENCE AV', 'MORISN AV/SNDVW', 'ELDER AV', 'WHITLOCK AV',
       'HUNTS POINT AV', 'LONGWOOD AV', 'E 149 ST', "E 143/ST MARY'S",
       'CYPRESS AV', 'BROOK AV', '3 AV 138 ST', 'WAKEFIELD/241',
       'NEREID AV', '233 ST', '225 ST', '219 ST', 'BURKE AV',
       'ALLERTON AV', 'BRONX PARK EAST', 'E 180 ST', 'WEST FARMS SQ',
       '174 ST', 'FREEMAN ST', 'SIMPSON ST', 'INTERVALE AV',
       'PROSPECT AV', 'JACKSON AV', '3 AV-149 ST', 'HARLEM 148 ST',
       '145 ST', '135 ST', '125 ST', '116 ST', 'CENTRAL PK N110',
       'WOODLAWN', 'MOSHOLU PKWY', 'BEDFORD PK BLVD', 'KINGSBRIDGE RD',
       'FORDHAM RD', '183 ST', 'BURNSIDE AV', '176 ST', 'MT EDEN AV',
       '170 ST', '167 ST', '161/YANKEE STAD', '149/GRAND CONC',
       '138/GRAND CONC', '110 ST', '103 ST', '96 ST', '86 ST', '77 ST',
       '68ST-HUNTER CO', '59 ST', '51 ST', 'GRD CNTRL-42 ST', '33 ST',
       '28 ST', '23 ST', '14 ST-UNION SQ', 'ASTOR PL', 'BLEECKER ST',
       'SPRING ST', 'BROOKLYN BRIDGE', 'FULTON ST', 'WALL ST',
       'BOWLING GREEN', 'V.CORTLANDT PK', '238 ST', '231 ST',
       'MARBLE HILL-225', '215 ST', '207 ST', 'DYCKMAN ST', '191 ST',
       '181 ST', '157 ST', '137 ST CITY COL', '116 ST-COLUMBIA',
       'CATHEDRAL PKWY', '79 ST', '72 ST', '66 ST-LINCOLN',
       '59 ST COLUMBUS', '50 ST', 'TIMES SQ-42 ST', '34 ST-PENN STA',
       '18 ST', '14 ST', 'CHRISTOPHER ST', 'HOUSTON ST', 'CANAL ST',
       'FRANKLIN ST', 'CHAMBERS ST', 'PARK PLACE', 'WTC-CORTLANDT',
       'RECTOR ST', 'SOUTH FERRY', 'PATH NEW WTC', 'PATH WTC 2',
       'NEWARK HM HE', 'NEWARK C', 'NEWARK BM BW', 'THIRTY THIRD ST',
       'LACKAWANNA', 'THIRTY ST', 'TWENTY THIRD ST', '14TH STREET',
       '9TH STREET', 'CITY / BUS', 'PAVONIA/NEWPORT', 'EXCHANGE PLACE',
       'GROVE STREET', 'JOURNAL SQUARE', 'HARRISON', 'NEWARK HW BMEBE',
       'ORCHARD BEACH', '96 ST-2 AVE', '86 ST-2 AVE', '72 ST-2 AVE',
       'JAMAICA CENTER', 'SUTPHIN-ARCHER', 'JAMAICA VAN WK',
       '21 ST-QNSBRIDGE', 'ROOSEVELT ISLND', 'LEXINGTON AV/63', '57 ST',
       'NEPTUNE AV', 'AVENUE X', 'AVENUE U', 'KINGS HWY', 'AVENUE P',
       'AVENUE N', 'BAY PKWY', 'AVENUE I', '18 AV', 'DITMAS AV',
       'FT HAMILTON PKY', '15 ST-PROSPECT', '7 AV', '4 AV-9 ST',
       'SMITH-9 ST', 'CARROLL ST', 'YORK ST', 'EAST BROADWAY',
       'DELANCEY/ESSEX', '2 AV', 'GRAND ST', "B'WAY-LAFAYETTE",
       '34 ST-HERALD SQ', '42 ST-BRYANT PK', '47-50 STS ROCK',
       'CLINTON-WASH AV', 'CLASSON AV', 'BEDFORD-NOSTRAN',
       'MYRTLE-WILLOUGH', 'FLUSHING AV', 'METROPOLITAN AV', 'NASSAU AV',
       'GREENPOINT AV', '21 ST', 'JAMAICA 179 ST', '169 ST',
       'PARSONS BLVD', 'SUTPHIN BLVD', 'BRIARWOOD', 'KEW GARDENS',
       '75 AV', 'FOREST HILLS 71', '67 AV', '63 DR-REGO PARK',
       'WOODHAVEN BLVD', 'GRAND-NEWTOWN', 'ELMHURST AV',
       'JKSN HT-ROOSVLT', '65 ST', 'NORTHERN BLVD', '46 ST',
       'STEINWAY ST', '36 ST', 'QUEENS PLAZA', 'COURT SQ-23 ST',
       'LEXINGTON AV/53', '5 AV/53 ST', 'NORWOOD 205 ST', '182-183 STS',
       'TREMONT AV', '174-175 STS', '155 ST', 'FAR ROCKAWAY',
       'BEACH 25 ST', 'BEACH 36 ST', 'BEACH 44 ST', 'BEACH 60 ST',
       'BEACH 67 ST', 'ROCKAWAY PARK B', 'BEACH 105 ST', 'BEACH 98 ST',
       'BEACH 90 ST', 'BROAD CHANNEL', 'HOWARD BCH JFK',
       'AQUEDUCT RACETR', 'AQUEDUCT N.COND', 'OZONE PK LEFFRT', '104 ST',
       'ROCKAWAY BLVD', '88 ST', '80 ST', 'GRANT AV', 'EUCLID AV',
       'SHEPHERD AV', 'VAN SICLEN AVE', 'LIBERTY AV', 'BROADWAY JCT',
       'RALPH AV', 'UTICA AV', 'KINGSTON-THROOP', 'LAFAYETTE AV',
       'HOYT-SCHER', 'JAY ST-METROTEC', 'HIGH ST', 'WORLD TRADE CTR',
       'W 4 ST-WASH SQ', '42 ST-PORT AUTH', '81 ST-MUSEUM',
       '163 ST-AMSTERDM', '168 ST', '175 ST', '190 ST', 'INWOOD-207 ST',
       'FRESH POND RD', 'FOREST AVE', 'SENECA AVE', 'KNICKERBOCKER',
       'CENTRAL AV', 'JFK JAMAICA CT1', '121 ST', '85 ST-FOREST PK',
       '75 ST-ELDERTS', 'CYPRESS HILLS', 'CRESCENT ST', 'NORWOOD AV',
       'CLEVELAND ST', 'ALABAMA AV', 'CHAUNCEY ST', 'HALSEY ST',
       'GATES AV', 'KOSCIUSZKO ST', 'MYRTLE AV', 'LORIMER ST', 'HEWES ST',
       'MARCY AV', 'CANARSIE-ROCKAW', 'EAST 105 ST', 'NEW LOTS',
       'LIVONIA AV', 'SUTTER AV', 'ATLANTIC AV', 'BUSHWICK AV',
       'WILSON AV', 'MYRTLE-WYCKOFF', 'DEKALB AV', 'JEFFERSON ST',
       'MORGAN AV', 'MONTROSE AV', 'GRAHAM AV', 'BEDFORD AV', '1 AV',
       '3 AV', '6 AV', '8 AV', 'W 8 ST-AQUARIUM', 'CONEY IS-STILLW',
       'BAY 50 ST', '25 AV', '20 AV', '71 ST', '55 ST', '9 AV',
       'NEW UTRECHT AV', 'BAY RIDGE-95 ST', 'BAY RIDGE AV', '53 ST',
       '45 ST', '25 ST', '4AV-9 ST', 'UNION ST', 'OCEAN PKWY',
       'BRIGHTON BEACH', 'SHEEPSHEAD BAY', 'NECK RD', 'AVENUE M',
       'AVENUE J', 'AVENUE H', 'NEWKIRK PLAZA', 'CORTELYOU RD',
       'BEVERLEY ROAD', 'PARKSIDE AV', 'PROSPECT PARK', 'BOTANIC GARDEN',
       'BROAD ST', 'BOWERY', 'WHITEHALL S-FRY', 'CORTLANDT ST',
       'CITY HALL', 'PRINCE ST', '8 ST-NYU', '49 ST', '57 ST-7 AV',
       '5 AV/59 ST'], dtype=object)

In [10]:
# Get rid of the duplicate entries
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique for ENTRIES
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0       A002  R051  02-00-00           59 ST 2019-08-31 00:00:00        1
410196  R138  R293  00-03-02  34 ST-PENN STA 2019-09-05 10:00:00        1
410198  R138  R293  00-03-02  34 ST-PENN STA 2019-09-05 18:00:00        1
410199  R138  R293  00-03-02  34 ST-PENN STA 2019-09-05 22:00:00        1
410200  R138  R293  00-03-02  34 ST-PENN STA 2019-09-06 02:00:00        1

In [11]:
# Get an overview of how much data we have - i.e. Print the number of records for each date in the dataset
turnstiles_df.DATE.value_counts().sort_index()

08/31/2019    29375
09/01/2019    29243
09/02/2019    29283
09/03/2019    29290
09/04/2019    29366
09/05/2019    29132
09/06/2019    29106
09/07/2019    29225
09/08/2019    29356
09/09/2019    29394
09/10/2019    29552
09/11/2019    29476
09/12/2019    29359
09/13/2019    29221
09/14/2019    29224
09/15/2019    29173
09/16/2019    29174
09/17/2019    29600
09/18/2019    29232
09/19/2019    29262
09/20/2019    29261
Name: DATE, dtype: int64

In [12]:
# Add the total number of entries and exits... This indicates how many people are in the area (either going into
# the subway or coming out of it)
# turnstiles_df['ENTRIES_AND_EXITS'] = (turnstiles_df['ENTRIES'] + turnstiles_df['EXITS']).astype(int)

# turnstiles_df.head()

turnstiles_daily = (turnstiles_df
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False).ENTRIES.first())

# turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
#                                                        .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES", "EXITS"]
#                                                        .apply(lambda grp: grp.shift(1)))

turnstiles_daily.head(20)

     C/A  UNIT       SCP STATION        DATE  ENTRIES
0   A002  R051  02-00-00   59 ST  08/31/2019  7183842
1   A002  R051  02-00-00   59 ST  09/01/2019  7184559
2   A002  R051  02-00-00   59 ST  09/02/2019  7185132
3   A002  R051  02-00-00   59 ST  09/03/2019  7186355
4   A002  R051  02-00-00   59 ST  09/04/2019  7187672
5   A002  R051  02-00-00   59 ST  09/05/2019  7189025
6   A002  R051  02-00-00   59 ST  09/06/2019  7190331
7   A002  R051  02-00-00   59 ST  09/07/2019  7191261
8   A002  R051  02-00-00   59 ST  09/08/2019  7191906
9   A002  R051  02-00-00   59 ST  09/09/2019  7193205
10  A002  R051  02-00-00   59 ST  09/10/2019  7194531
11  A002  R051  02-00-00   59 ST  09/11/2019  7195854
12  A002  R051  02-00-00   59 ST  09/12/2019  7197227
13  A002  R051  02-00-00   59 ST  09/13/2019  7198618
14  A002  R051  02-00-00   59 ST  09/14/2019  7199405
15  A002  R051  02-00-00   59 ST  09/15/2019  7200012
16  A002  R051  02-00-00   59 ST  09/16/2019  7201201
17  A002  R051  02-00-00   59 ST  09/17/2019  7202574
18  A002  R051  02-00-00   59 ST  09/18/2019  7203963
19  A002  R051  02-00-00   59 ST  09/19/2019  7205355

In [13]:
# print(turnstiles_df.HOUR.value_counts())
# print(turnstiles_df.MINUTE.value_counts())

# There are many different MINUTE logging times so... For now, we're only going to use records where MINUTE == 0
#
# Meal time assumptions (These need to be improved)
#
# Breakfast - 8:00 - 12:00
# Lunch - 12:00 - 16:00
# Dinner - 16:00 - 20:00
breakfast_mask = ((turnstiles_df["HOUR"] >= 8) & (turnstiles_df["HOUR"] <= 12) & (turnstiles_df["MINUTE"] == 0))
lunch_mask = ((turnstiles_df["HOUR"] >= 12) & (turnstiles_df["HOUR"] <= 16) & (turnstiles_df["MINUTE"] == 0))
dinner_mask = ((turnstiles_df["HOUR"] >= 16) & (turnstiles_df["HOUR"] <= 20) & (turnstiles_df["MINUTE"] == 0))

morning_mask = ((turnstiles_df["HOUR"] < 12) & (turnstiles_df["MINUTE"] == 0))
afternoon_mask = ((turnstiles_df["HOUR"] >= 12) & (turnstiles_df["MINUTE"] == 0))

In [14]:
breakfast_df = turnstiles_df[breakfast_mask]
lunch_df = turnstiles_df[lunch_mask]
dinner_df = turnstiles_df[dinner_mask]

morning_df = turnstiles_df[morning_mask]
afternoon_df = turnstiles_df[afternoon_mask]

# Print how many breakfast records we have for each day
# print(breakfast_df.DATE.value_counts(ascending=True))
# print(lunch_df.STATION.value_counts(ascending=True))

# breakfast_df.head(20)
# breakfast_df.tail(20)

# turnstiles_breakfast = (breakfast_df
#                         .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
#                         .ENTRIES.first())

breakfast_df.head(20)

# turnstiles_breakfast.head()

# turnstiles_breakfast[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
#                                                        .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
#                                                        .apply(lambda grp: grp.shift(1)))

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,DAY_OF_WEEK,HOUR,MINUTE,ENTRIES_PER_HOUR,EXITS_PER_HOUR
204924,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/20/2019,09:00:00,REGULAR,5554,420,2019-09-20 09:00:00,Friday,9,0,1388,105
204918,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/19/2019,09:00:00,REGULAR,5554,420,2019-09-19 09:00:00,Thursday,9,0,1388,105
204912,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/18/2019,09:00:00,REGULAR,5554,420,2019-09-18 09:00:00,Wednesday,9,0,1388,105
204905,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/17/2019,09:00:00,REGULAR,5554,420,2019-09-17 09:00:00,Tuesday,9,0,1388,105
204899,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2019,09:00:00,REGULAR,5554,420,2019-09-16 09:00:00,Monday,9,0,1388,105
204893,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/15/2019,09:00:00,REGULAR,5554,420,2019-09-15 09:00:00,Sunday,9,0,1388,105
204887,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/14/2019,09:00:00,REGULAR,5554,420,2019-09-14 09:00:00,Saturday,9,0,1388,105
205581,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/13/2019,09:00:00,REGULAR,5554,420,2019-09-13 09:00:00,Friday,9,0,1388,105
205575,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/12/2019,09:00:00,REGULAR,5554,420,2019-09-12 09:00:00,Thursday,9,0,1388,105
205569,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/11/2019,09:00:00,REGULAR,5554,420,2019-09-11 09:00:00,Wednesday,9,0,1388,105
205563,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/10/2019,09:00:00,REGULAR,5554,420,2019-09-10 09:00:00,Tuesday,9,0,1388,105
205557,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/09/2019,09:00:00,REGULAR,5554,420,2019-09-09 09:00:00,Monday,9,0,1388,105
205551,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/08/2019,09:00:00,REGULAR,5554,420,2019-09-08 09:00:00,Sunday,9,0,1388,105
205545,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/07/2019,09:00:00,REGULAR,5554,420,2019-09-07 09:00:00,Saturday,9,0,1388,105
204791,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/06/2019,09:00:00,REGULAR,5554,420,2019-09-06 09:00:00,Friday,9,0,1388,105
204785,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/05/2019,09:00:00,REGULAR,5554,389,2019-09-05 09:00:00,Thursday,9,0,1388,97
204779,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/04/2019,09:00:00,REGULAR,5554,389,2019-09-04 09:00:00,Wednesday,9,0,1388,97
204773,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/03/2019,09:00:00,REGULAR,5554,389,2019-09-03 09:00:00,Tuesday,9,0,1388,97
204767,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/02/2019,09:00:00,REGULAR,5554,389,2019-09-02 09:00:00,Monday,9,0,1388,97
204761,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/01/2019,09:00:00,REGULAR,5554,389,2019-09-01 09:00:00,Sunday,9,0,1388,97

In [15]:
breakfast_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DAY_OF_WEEK"])['ENTRIES', 'EXITS', 'ENTRIES_AND_EXITS'].sum()

KeyError: "Columns not found: 'ENTRIES_AND_EXITS'"

In [ ]:
breakfast_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DAY_OF_WEEK"])['ENTRIES', 'EXITS', 'ENTRIES_AND_EXITS'].sum()

In [121]:
busiest_breakfast_stations = \
    (breakfast_df.groupby(['STATION', 'DAY_OF_WEEK'])['ENTRIES_AND_EXITS'].sum()
                   .reset_index()
                   .sort_values(by='ENTRIES_AND_EXITS',ascending=False))

print(busiest_breakfast_stations.head(20))

              STATION DAY_OF_WEEK  ENTRIES_AND_EXITS
456   42 ST-PORT AUTH      Friday        81260140766
460   42 ST-PORT AUTH    Thursday        81259369206
462   42 ST-PORT AUTH   Wednesday        81258601460
461   42 ST-PORT AUTH     Tuesday        81257842024
457   42 ST-PORT AUTH      Monday        81257169602
459   42 ST-PORT AUTH      Sunday        81256660901
458   42 ST-PORT AUTH    Saturday        81256187855
396   34 ST-HERALD SQ      Sunday        62399882576
395   34 ST-HERALD SQ    Saturday        62399075573
393   34 ST-HERALD SQ      Friday        62383315855
399   34 ST-HERALD SQ   Wednesday        62380485691
398   34 ST-HERALD SQ     Tuesday        62379093158
394   34 ST-HERALD SQ      Monday        62377913475
397   34 ST-HERALD SQ    Thursday        62375976649
2383   TIMES SQ-42 ST      Friday        61881832414
2387   TIMES SQ-42 ST    Thursday        61880641683
2389   TIMES SQ-42 ST   Wednesday        61879454542
2388   TIMES SQ-42 ST     Tuesday        61878289274
2384   TIMES SQ-42 ST      Monday        61877337709
2386   TIMES SQ-42 ST      Sunday        61876629687

In [117]:
# Rinse and repeat for lunch
# lunch_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DAY_OF_WEEK"])['ENTRIES_AND_EXITS'].sum()

busiest_lunch_stations = \
    (lunch_df.groupby(['STATION', 'DATE_TIME'])['EXITS'].sum()
                   .reset_index()
                   .sort_values(by='EXITS', ascending=False))

# busiest_lunch_stations.head(20)
busiest_lunch_stations.head(20)

              STATION           DATE_TIME       EXITS
2643  42 ST-PORT AUTH 2019-09-20 16:00:00  6089882479
2641  42 ST-PORT AUTH 2019-09-20 12:00:00  6089871704
2640  42 ST-PORT AUTH 2019-09-19 16:00:00  6089830775
2638  42 ST-PORT AUTH 2019-09-19 12:00:00  6089821263
2637  42 ST-PORT AUTH 2019-09-18 16:00:00  6089780604
2635  42 ST-PORT AUTH 2019-09-18 12:00:00  6089771385
2634  42 ST-PORT AUTH 2019-09-17 16:00:00  6089730002
2632  42 ST-PORT AUTH 2019-09-17 12:00:00  6089720937
2631  42 ST-PORT AUTH 2019-09-16 16:00:00  6089680232
2629  42 ST-PORT AUTH 2019-09-16 12:00:00  6089671389
2628  42 ST-PORT AUTH 2019-09-15 16:00:00  6089649201
2626  42 ST-PORT AUTH 2019-09-15 12:00:00  6089642975
2625  42 ST-PORT AUTH 2019-09-14 16:00:00  6089622292
2623  42 ST-PORT AUTH 2019-09-14 12:00:00  6089614989
2622  42 ST-PORT AUTH 2019-09-13 16:00:00  6089577152
2620  42 ST-PORT AUTH 2019-09-13 12:00:00  6089566901
2619  42 ST-PORT AUTH 2019-09-12 16:00:00  6089522545
2617  42 ST-PORT AUTH 2019-09-12 12:00:00  6089512577
2616  42 ST-PORT AUTH 2019-09-11 16:00:00  6089472224
2614  42 ST-PORT AUTH 2019-09-11 12:00:00  6089462899

In [113]:
# Rinse and repeat for dinner
dinner_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DAY_OF_WEEK"])['ENTRIES_AND_EXITS'].sum()

busiest_dinner_stations = \
    (dinner_df.groupby(['STATION'])['ENTRIES_AND_EXITS'].sum()
                   .reset_index()
                   .sort_values(by='ENTRIES_AND_EXITS',ascending=False))

busiest_dinner_stations.head()

             STATION  ENTRIES_AND_EXITS
65   42 ST-PORT AUTH       568808055489
56   34 ST-HERALD SQ       436717216981
347   TIMES SQ-42 ST       430436540110
195        DEKALB AV       389742678913
43             23 ST       367076084659

In [132]:
# Mornings
morning_df.groupby(["STATION", "DAY_OF_WEEK"])['ENTRIES', 'ENTRIES_AND_EXITS'].sum()

# busiest_morning_stations = \
#     (morning_df.groupby(['STATION'])['ENTRIES_AND_EXITS'].sum()
#                    .reset_index()
#                    .sort_values(by='ENTRIES_AND_EXITS',ascending=False))

# busiest_morning_stations.head()

                                 ENTRIES  ENTRIES_AND_EXITS
STATION         DAY_OF_WEEK
1 AV            Friday       12737416136        25928693781
                Monday       12736803598        25927410329
                Saturday     12736738110        25927253709
                Sunday       12736773613        25927337417
                Thursday     12737244370        25928335976
                Tuesday      12736922027        25927664440
                Wednesday    12737081351        25927995841
103 ST          Friday        1292908546         2353652970
                Monday        1291825351         2351799086
                Saturday      1291514529         2351253662
                Sunday        1291675338         2351535683
                Thursday      1292618766         2353160514
                Tuesday       1292054515         2352195492
                Wednesday     1292334417         2352673918
103 ST-CORONA   Friday         660495562         1320018506
                Monday         659761980         1318744091
                Saturday       659517370         1318303581
                Sunday         659645081         1318538930
                Thursday       660304045         1319685253
                Tuesday        659924819         1319026857
                Wednesday      660113269         1319354220
104 ST          Friday       43640303944        75399550478
                Monday       43640193892        75399410852
                Saturday     43640171197        75399381139
                Sunday       43640182664        75399396449
                Thursday     43640275356        75399514293
                Tuesday      43640217827        75399441383
                Wednesday    43640246843        75399478270
110 ST          Friday         349655739          683873581
                Monday         349274204          683150689
...                                  ...                ...
WOODLAWN        Tuesday        280263051          388763259
                Wednesday      280329906          388845120
WORLD TRADE CTR Friday       14384815928        30960735098
                Monday       14384126196        30959499028
                Saturday     14383988903        30959255885
                Sunday       14384062155        30959384323
                Thursday     14384630458        30960402364
                Tuesday      14384260943        30959744211
                Wednesday    14384440894        30960062279
WTC-CORTLANDT   Friday        6618042875         6647959647
                Monday        6617572754         6647100221
                Saturday      6617444416         6646866976
                Sunday        6617514601         6646992075
                Thursday      6617913597         6647721790
                Tuesday       6617674446         6647288557
                Wednesday     6617798705         6647515232
YORK ST         Friday         393530059          708611949
                Monday         393056477          707907222
                Saturday       392896419          707649067
                Sunday         392976699          707776318
                Thursday       393404699          708426793
                Tuesday        393153042          708053086
                Wednesday      393277737          708238474
ZEREGA AV       Friday          18919765           29113411
                Monday          18820014           28921136
                Saturday        18801580           28882380
                Sunday          18810487           28901954
                Thursday        18893084           29062386
                Tuesday         18840356           28960666
                Wednesday       18866647           29011430

[2593 rows x 2 columns]

In [ ]:
# TODO: Late night coding (to correctly align recording periods to standard 00:00 - 04:00, 04:00 - 08:00, etc...
#
# This is a work in progress

print(result.head(20))
# turnstiles_df[mask]['HOUR'].value_counts()

def align_hours(row, lower_boundary, upper_boundary):
    # For exmaple, the boundary is 8(:00) but row['HOUR'] is 9(:00)...
    # For exmaple, the boundary is 8(:00) but row['HOUR'] is 7(:00)...
    hour = row['HOUR']
    entries_per_hour = row['ENTRIES_PER_HOUR']
    
    if (hour < upper_boundary):
        if (hour < lower_boundary):
            return (4 - (lower_boundary - hour)) * entries_per_hour
        elif (hour > lower_boundary):
            return (4 - (hour - lower_boundary)) * entries_per_hour
        else:
            return row['ENTRIES']
    else:
        return 0

result['ALIGNED_HOURS'] = result.apply(align_hours, axis=1, lower_boundary=8, upper_boundary=12)

print(result.head(50))
print(result.tail(50))

result.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"], as_index=False)['ALIGNED_HOURS'].sum()
#result.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"], as_index=False)['ALIGNED_HOURS']

# turnstiles_daily

# turnstiles_hourly = (turnstiles_df
#                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"], as_index=False)

# morning = turnstiles_df[turnstiles_df['TIME'] > '08:00:00' & turnstiles_df['TIME'] < '12:00:00']

# print(morning['TIME'].value_counts().head(20))

# morning

# after_noon = turnstiles_df[turnstiles_df['TIME'] > '12:00:00']

# print(after_noon['TIME'].value_counts().head())

# after_noon

In [48]:
# Get an overview of how much data we have - i.e. Print the number of records for each date in the dataset
turnstiles_df.DATE.value_counts().sort_index()

08/31/2019    29375
09/01/2019    29243
09/02/2019    29283
09/03/2019    29290
09/04/2019    29366
09/05/2019    29132
09/06/2019    29106
09/07/2019    29225
09/08/2019    29356
09/09/2019    29394
09/10/2019    29552
09/11/2019    29476
09/12/2019    29359
09/13/2019    29223
09/14/2019    29224
09/15/2019    29173
09/16/2019    29174
09/17/2019    29602
09/18/2019    29232
09/19/2019    29262
09/20/2019    29261
Name: DATE, dtype: int64